@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



/* ****************************header******************* */

body{
    background-color: cadetblue;
    /*font-family: 'Droid Arabic Kufi', serif;*/
    

    
}
.header-top{
    width: 100%;
    height: 68px;
    background-color: #2471a4;
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px;
}
.header-top ul{
    display: flex;
    padding-left: 60px;
}
.header-top ul > li{
    padding-left: 25px ;
    display: flex;
    
}
ul{
    list-style: none;
}
.header-top ul > li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.header-top a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.search{
    position: absolute;
    top: 35px;
    left: 0;
}

.search input{
    height: 28px;
    border: none;
    background-color: #2471a4;
}
.search button{
    height: 28px;
    width: 30px;
    border: none;
    background-color: #2471a4;
    color: #fff;
}


.header-bottom{
    width: 100%;
    height: 100px;
    background-color: #fff;
    
    
}

.header-bottom ul {
    height: 100px;
    color: lightslategray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-bottom ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 60px;
}
#activ{
    padding: 12px;
    border-radius: 5px;
    background-color: #63c1ec;
    color: #fff;
    margin: 0 30px;
}
.img-loco{
    position: absolute;
    top: 20px;
    right: 25px;
}




.menu .submenu{
    display: none;
}
.menu:hover .submenu > li{
    display: block;
}


/* Section Header */
.header__section {
    width: 100%;
    min-height: 500px;
    background-color: #7a7676;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-image: url('../../images/back1.png') ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}
.header__section::before {
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
}

.header__section_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    transition: flex 1s ease-out;
}
.header__section_content h1, .header__section_content h2 {
  margin: 1rem;
  font-family: 'Droid Arabic Kufi', serif ;
}
.header__section_content h1 {
    font-size: 40px;
}
.header__section_content a {
    margin-top: 2rem;
    font-size: 18px;
    font-family: 'Droid Arabic Kufi', serif ;
    background-color: #4aafda;
    padding: 10px 20px;
    border-radius: 5px;
    
}
.header__section_content a:hover {
    background-color: #5a5757;
}
.header__section_right, .header__section_left {
 position: absolute;
 top: 50%;
 background-color: rgba(0,0,0,0.4);
 padding: 20px;
 border-radius: 50%;
 display: none;
 cursor: pointer;
 
}
.header__section:hover .header__section_right,.header__section:hover .header__section_left {
    display: block;
}
.header__section_left {
left: 40px;

}
.header__section_right {
right: 40px;

}
.header__section_left:hover,.header__section_right:hover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in;

}

.background__images {
    display: none;
}













/*
FOOTER
*/
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    background-color: rgb(24, 45, 94);
    color: #fff;
    
}
.footer__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.footer__left_fast-links, .footer__left-links, .footer__left-contact {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.footer__left  li {
    margin: 10px;
}
.footer__left  ul h2 {
    margin-bottom: 15px;
}
.footer__left_fast-links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}
.footer__left-contact li {
    margin-top: 20px;
}
.footer__right {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    background-image: url('../../images/footer_right_bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 30px;
    height: 100%; 
    position: relative;
    
    
}
.footer__right::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);

}
.footer__right:hover {
    background: #353535;
    
}
.footer__right h1,.footer__right h2, .footer__right p, .footer__right div {
    margin-top: 15px;
    z-index: 100;
} 
.footer__right img {
    width: 100px;
    height: 100px;
}
.gold-text {
    color: rgb(228, 185, 85);
}
.footer__right h2 {
    font-size: 20px;
}
.footer__left-contact li:last-child i{
    color: #fff;
    margin-right: 2px;
    padding: 5px;
    border-radius: 3px;
    
}
.footer__left-contact li:last-child .fa-facebook {
    background-color: rgb(5, 41, 124);
    padding: 5px 10px;
}
.footer__left-contact li:last-child .fa-linkedin {
    background-color: rgb(8, 111, 207);
    
}
.footer__left-contact li:last-child .fa-google-plus {
    background-color: rgba(236, 66, 43, 0.861);
}
.footer__left-contact li:last-child .fa-twitter {
    background-color: rgb(73, 172, 247);
    padding: 5px 10px;
}
.footer__left-contact li:last-child .fa-globe {
    background-color: rgb(251, 123, 185);
    padding: 5px 10px;
}
a {
    text-decoration: none;
    color: #fff;
}
ul li {
    list-style: none;
}