*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* ****************************header******************* */
body{
    background-color: cadetblue;
}
.header-top{
    width: 100%;
    height: 68px;
    background-color: #2471a4;
    display: flex;
    justify-content: flex-end;
    padding: 10px 25px;
}
.header-top ul{
    display: flex;
    padding-left: 60px;
}
.header-top ul > li{
    padding-left: 25px ;
    display: flex;
    
}
ul{
    list-style: none;
}
.header-top ul > li a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.header-top a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
}
.search{
    position: absolute;
    top: 35px;
    left: 0;
}

.search input{
    height: 28px;
    border: none;
    background-color: #2471a4;
}
.search button{
    height: 28px;
    width: 30px;
    border: none;
    background-color: #2471a4;
    color: #fff;
}


.header-bottom{
    width: 100%;
    height: 100px;
    background-color: #fff;
    
    
}

.header-bottom ul {
    height: 100px;
    color: lightslategray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-bottom ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-left: 60px;
}
#activ{
    padding: 12px;
    border-radius: 5px;
    background-color: #63c1ec;
    color: #fff;
    margin: 0 30px;
}
.img-loco{
    position: absolute;
    top: 20px;
    right: 25px;
}




.menu .submenu{
    display: none;
}
.menu:hover .submenu > li{
    display: block;
}